#canvas {
  cursor: pointer;
  border: 1px solid gainsboro;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.knn-toolbox {
  display: flex;
}

input[type="color"] {
  border: none;
}

.color-box {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.border-white {
  border: 2px solid white;
}
