<div class="container">
  <div class="knn-toolbox">
    <canvas #canvas id="canvas" (click)="onCanvasClick($event)"></canvas>
    <div class="flex flex-col">
      <div class="flex">
        <button
          class="color-box"
          style="background-color: red"
          (click)="setColor(ColorEnum.RED)"
          [ngClass]="{ 'border-white': color === ColorEnum.RED }"
        ></button>
        <button
          id="blue"
          class="color-box"
          style="background-color: blue"
          (click)="setColor(ColorEnum.BLUE)"
          [ngClass]="{ 'border-white': color === ColorEnum.BLUE }"
        ></button>
      </div>

      <button class="toggle-grid cursor-pointer" (click)="toggleGrid()">
        ▦
      </button>

      <button class="cursor-pointer" (click)="performKNN()">KNN</button>
    </div>
  </div>
</div>
