<div class="flex flex-col justify-center items-center p-4 h-screen">
  <div *ngIf="img; else uploadSection" class="relative inline-block">
    <button
      class="bg-red-800 hover:bg-red-900 p-2 rounded-full w-8 h-8 flex justify-center items-center absolute top-[-10px] left-[-10px] z-10"
      (click)="removeImage()"
      title="Remove Image"
    >
      <i class="fas fa-times"></i>
    </button>
    <button
      class="bg-blue-800 hover:bg-blue-900 p-2 rounded-full w-8 h-8 flex justify-center items-center absolute top-[-10px] right-[-10px] z-10"
      (click)="rotateImage()"
      title="Rotate Image"
    >
      <i class="fas fa-sync-alt"></i>
    </button>
    <img
      [src]="img"
      [style.transform]="'rotate(' + rotation + 'deg)'"
      alt="Uploaded"
      class="shadow-lg block max-w-full"
    />
  </div>
  <button
    (click)="downloadImage()"
    class="bg-green-800 hover:bg-green-900 p-2 rounded transition duration-300 ease-in-out"
    *ngIf="img; else empty"
  >
    Download Image
  </button>

  <ng-template #uploadSection>
    <app-upload-image (imageChange)="img = $event" [image]="img" />
  </ng-template>

  <ng-template #empty> </ng-template>
</div>
