.container {
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-items: center;
  justify-content: center;
}

.input-section {
  width: 250px;
  grid-column: 1 / 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operator-section {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.matrix-section {
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
}
.matrix-cell {
  width: 30px;
  height: 30px;
  border: none;
  color: white;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}

.equal-operator {
  grid-column: 4 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.output-section {
  grid-column: 5 / 6;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-input-label {
  display: inline-block;
  cursor: pointer;
}

.file-input-label span {
  padding: 10px;
  display: block;
  background-color: #4e4e4e;
}

.preview-image {
  max-width: 250px;
  max-height: 300px;
}

.remove-icon {
  color: red;
  right: -5px;
  top: -10px;
  cursor: pointer;
  position: absolute;
}

.kernel {
  position: relative;
}
.rotate-kernel {
  border: none;
  position: absolute;
  top: -15px;
  right: -15px;
  transform: scale(0.8);
  cursor: pointer;
  background-color: transparent;
}
.label {
  text-align: center;
  margin-top: 10px;
}
