<button
  (click)="runCodeHandler()"
  class="cursor-pointer p-1 bg-green-800 text-white rounded hover:bg-green-900 absolute w-[100px] z-10 top-0 right-[50%]"
  #runTestButton
>
  Run
</button>
<button
  (click)="runTestsHandler()"
  class="cursor-pointer p-1 bg-green-800 text-white rounded hover:bg-green-900 absolute w-[100px] z-10 top-0 right-0"
  #runTestButton
>
  Test
</button>
<div class="editors">
  <ngx-monaco-editor
    #editorLeft
    theme="vs-dark"
    [(ngModel)]="code"
    (ngModelChange)="saveCode()"
  ></ngx-monaco-editor>
  <ngx-monaco-editor
    #editorRight
    theme="vs-dark"
    [(ngModel)]="testCode"
    (ngModelChange)="saveCode()"
  ></ngx-monaco-editor>
</div>
<div id="mocha" class="terminal"></div>
