<button
  (click)="runCodeHandler()"
  class="play-btn play-code cursor-pointer"
  #runTestButton
>
  Run
</button>
<button
  (click)="runTestsHandler()"
  class="play-btn play-test cursor-pointer"
  #runTestButton
>
  Test
</button>
<div class="editors">
  <ngx-monaco-editor
    #editorLeft
    theme="vs-dark"
    [(ngModel)]="code"
    (ngModelChange)="saveCode()"
  ></ngx-monaco-editor>
  <ngx-monaco-editor
    #editorRight
    theme="vs-dark"
    [(ngModel)]="testCode"
    (ngModelChange)="saveCode()"
  ></ngx-monaco-editor>
</div>
<div id="mocha" class="terminal"></div>
