body {
  color: #ffffff;
  background-color: #1e1e2e;
}

* {
  margin: 0px;
  padding: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  outline: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
