body {
  background-color: #1e1e2e; /* Dark background */
  color: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}
